{% extends 'base.html'%}
{% load static %}
{% block title %}
	Mi home
{% endblock %}

{% block body %}

	<h1>Home</h1>
	<p>Este es la pagina principal</p>
	<p>Bienvenido {{request.user}}<p>
    


	<div id="cuerpo">
		<h1> Cree encuestas en línea fácilmente</h1>
		<h2>Cree su cuestionario</h2>

		<p>Cree su propio cuestionario con nuestra herramienta de encuestas fácil e intuitiva. Usted puede crear distintos tipos de preguntas. Puede añadir mas opciones si haci le parece > aqui</a> </p>


		<h2>Realizar encuesta</h2>
		<p>Usted es libre de escoger a cualquiera para hacer sus encuestas,desde distintas areas </p>

		<h2>Analice sus resultados</h2>
		<p>Todas las respuestas de sus participantes se mostrarán en tiempo real. Puede ver respuestas individuales</p>
	</div>
     <div id="piepag">
     	<div id="der"></div>
      	<div id="footer">
     		
            	<p>¿Quiénes somos?</p>
            	<p>Contáctanos</p>
            	<p>Términos y condiciones</p>
            	<p><a href="{% static 'data/projectoFinal' %}" download="projetoFinal.pdf">  Descargue informe del projecto!!</a></p>
        	
    	</div>
   	</div>
   

{% endblock %}
