{% extends 'base.html'%}
{% load static %}
{% block title %}
Tablon de preguntas
{% endblock %}

{% block head%}
   <link rel="stylesheet" type="text/css" href="{% static 'css/tabla.css' %}">
{% endblock %}

{% block body %}
  <center>
	<table>
		<caption>TABLON</caption>
		<tr>
			<th>Pregunta</th>
			<th>Fecha de publicacion</th>
			<th>Votos</th>
			<th>Opciones a elegir</th>
		</tr>
		
			{% for pregunta in lista %}
				<tr>	
					<td><a href="{% url 'encuestas:detalle' pregunta.id %}">{{pregunta.pregunta_txt}}</a></td>
					<td>{{pregunta.pub_fecha}}</td>
					<td>{{pregunta.area}}</td>
					<td>
						<ul>
					{% for opcion in pregunta.opcion_set.all %}
						<li>{{opcion}}</li>
					{% endfor %}
						</ul>
					</td>
				</tr>	
			{% endfor %}

	</table>
  </center>
{% endblock %}
