{% extends 'base.html'%}
{% block title %}
Tablon de preguntas
{% endblock %}

{% block head%}
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
{% endblock %}

{% block body %}
  <center>
	<table>
		<tr>
			<th>Pregunta</th>
			<th>Fecha de publicacion</th>
			<th>Votos</th>
		</tr>
		
			{% for pregunta in lista %}
				<tr>	
					<td>{{pregunta.pregunta_txt}}</td>
					<td>{{pregunta.pub_fecha}}</td>
					<td>{{pregunta.area}}</td>
					<td>
						<ul>
					{% for opcion in pregunta.opcion_set.all %}
						<li>{{opcion}}</li>
					{% endfor %}
						</ul>
					</td>
				</tr>	
			{% endfor %}

	</table>
  </center>
{% endblock %}
