<!DOCTYPE html>
<html>
        <head>
                <title>
                        {% block title %}
                        {% endblock %}
                </title>
		{% block head %}
		{% endblock %}
        </head>
        <body>
		<nav>
			<ul>
				<li><a href= '{% url "encuestas:home" %}'>home</a></li>
				<li><a href= '{% url "encuestas:tablon" %}'>Tablon de Preguntas</a></li>
				
			</ul>

		</nav>
                {% block body %}
                {% endblock %}
        </body>
</html>

